body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  height: 100vh;
}

.instruments {
  min-width: 50px;
  width: 3%;
  margin-right: 10px;
}

.frames, 
.drawing,
.preview {
  margin-top: 20px;
}

.frames {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #dedede;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 3px 3px #ccc;
  margin: 20px 50px 20px 10px;
  left: 50%;
  min-width: 150px;
  width: 10%;
  overflow: scroll;
}

.drawing {
  margin-right: 30px;
  width: 65%;
}

.preview {
  width: 22%;
  min-width: 150px;
  margin-right: 20px;
}

.pallete__ul {
  list-style: none;
  padding: 0;
  margin-top: 50%;
  border: 1px solid #ccc;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 3px 3px #ccc;
}

.pallete__ul--pencil,
.pallete__ul--bucket,
.pallete__ul--pipette,
.pallete__ul--move,
.pallete__ul--exchange {
  margin-top: 25px;
  margin-bottom: 25px;
}

.pallete__ul--img {
  display: block;
  width: 30px;
  margin: 0 auto;
}

.instrument-select {
  background-color: #bebebe;
  border: 2px solid #ffd700;
}

.instrument:hover:not(.instrument-select) {
  background-color: #e7e7e7;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.frames__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.frame {
  position: relative;
  border: 3px solid #c4c4c4;
  height: 107px;
  width: 107px;
  background-color: #e6e5e5;
  box-shadow: 0 2px 4px #9b9b9b;
  margin-top: 15px;
}

.frame:hover:not(.frame-select) {
  border: 3px solid #838383;
}

.frame:hover .frame-hide-functions {
  visibility: visible;
}

.left-top-corner,
.delete-frame,
.copy-frame,
.move-frame {
  background-color: #c4c4c4;
}

.left-top-corner {
  position: absolute;
  height: 35px;
  width: 35px;
}

.frame-icons-functions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
}

.delete-frame,
.copy-frame,
.move-frame {
  height: 30px;
  width: 30px;
}

.frame-hide-functions {
  visibility: hidden;
}

.delete-frame {
  position: absolute;
  right: 0;
}

.copy-frame {
  position: absolute;
  right: 0;
  bottom: 0;
}

.move-frame {
  position: absolute;
  bottom: 0;
}

.frame-select {
  border: 3px solid #ffd700;
}

.frame-select-corners {
  background-color: #ffd700;
}

.frame-number {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.frames__addFrame {
  position: relative;
  background-color: #e6e5e5;
  box-shadow: 0 2px 4px #9b9b9b;
  border: 3px solid #c4c4c4;
  width: 110px;
  height: 50px;
  min-height: 50px;
  margin-top: 15px;
}

.frames__addFrame--text-mod {
  position: absolute;
  right: 0;
  top: 50%;
  color: black;
  margin: 0 5px;
  text-align: center;
  width: 60px;
  transform: translate(0, -50%);
}

.frames__addFrame--vertical-line {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  border: 2px solid white;
  width: 23px;
}

.frames__addFrame--horizontal-line {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  border: 2px solid white;
  height: 23px;
}

.canvas-main {
  background-color: #e5e5e5;
  border: 1px solid black;
  /* min-width: 400px; */
  /* width: 100%; */
  /* height: auto; */
}

.preview__animation {
  background-color: #cccbcb;
  height: 270px;
}

.preview__fps {
  background-color: #a1a0a0;
  height: 50px;
}

.hide-main-canvas {
  display: none;
}